<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  (onHide)="cerrarModal()"
  header="{{ cursoSeleccionado ? 'Editar Curso' : 'Crear Curso' }}"
>
  <form
    [formGroup]="formCurso"
    (ngSubmit)="guardarCurso()"
    class="grid md:grid-cols-3 gap-2 w-[825px]"
  >
    <!-- Imagen -->
    <div class="mb-5 col-span-3">
      <label for="imagen" class="block mb-2 text-sm font-medium text-gray-900"
        >Imagen</label
      >
      <input
        type="text"
        id="imagen"
        formControlName="imagen"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('imagen')?.invalid && formCurso.get('imagen')?.touched
        }"
      />
      <div
        *ngIf="
          formCurso.get('imagen')?.invalid && formCurso.get('imagen')?.touched
        "
        class="text-red-500 text-sm"
      >
        La URL de la imagen es requerida.
      </div>
    </div>

    <!-- Nombre -->
    <div class="mb-5 col-span-3">
      <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900"
        >Nombre del curso</label
      >
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('nombre')?.invalid && formCurso.get('nombre')?.touched
        }"
      />
      <div
        *ngIf="
          formCurso.get('nombre')?.invalid && formCurso.get('nombre')?.touched
        "
        class="text-red-500 text-sm"
      >
        El nombre del curso es requerido.
      </div>
    </div>

    <!-- Descripción -->
    <div class="mb-5 col-span-3">
      <label
        for="descripcion"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Descripción general</label
      >
      <textarea
        id="descripcion"
        rows="4"
        formControlName="descripcion"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        [ngClass]="{
          'border-red-500':
            formCurso.get('descripcion')?.invalid &&
            formCurso.get('descripcion')?.touched
        }"
      ></textarea>
      <div
        *ngIf="
          formCurso.get('descripcion')?.invalid &&
          formCurso.get('descripcion')?.touched
        "
        class="text-red-500 text-sm"
      >
        La descripción es requerida.
      </div>
    </div>

    <!-- Fecha de Inicio -->
    <div class="mb-5">
      <label
        for="fechaInicio"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Fecha de inicio</label
      >
      <input
        type="date"
        id="fechaInicio"
        formControlName="fechaInicio"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('fechaInicio')?.invalid &&
            formCurso.get('fechaInicio')?.touched
        }"
      />
      <div
        *ngIf="
          formCurso.get('fechaInicio')?.invalid &&
          formCurso.get('fechaInicio')?.touched
        "
        class="text-red-500 text-sm"
      >
        La fecha de inicio es requerida.
      </div>
    </div>

    <!-- Fecha de Fin -->
    <div class="mb-5">
      <label for="fechaFin" class="block mb-2 text-sm font-medium text-gray-900"
        >Fecha de finalización</label
      >
      <input
        type="date"
        id="fechaFin"
        formControlName="fechaFin"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('fechaFin')?.invalid &&
            formCurso.get('fechaFin')?.touched
        }"
      />
      <div
        *ngIf="
          formCurso.get('fechaFin')?.invalid &&
          formCurso.get('fechaFin')?.touched
        "
        class="text-red-500 text-sm"
      >
        La fecha de finalización es requerida.
      </div>
    </div>

    <!-- Horas -->
    <div class="mb-5">
      <label for="horas" class="block mb-2 text-sm font-medium text-gray-900"
        >Horas totales</label
      >
      <input
        type="number"
        id="horas"
        formControlName="horas"
        min="100"
        step="1"
        placeholder="250 horas"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('horas')?.invalid && formCurso.get('horas')?.touched
        }"
      />
      <div
        *ngIf="
          formCurso.get('horas')?.invalid && formCurso.get('horas')?.touched
        "
        class="text-red-500 text-sm"
      >
        Las horas deben ser un número mayor a 100.
      </div>
    </div>

    <!-- Precio -->
    <div class="mb-5">
      <label for="precio" class="block mb-2 text-sm font-medium text-gray-900"
        >Precio de inscripción</label
      >
      <input
        type="number"
        id="precio"
        formControlName="precio"
        min="0"
        step="0.01"
        placeholder="S/. 150.00"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('precio')?.invalid && formCurso.get('precio')?.touched
        }"
      />
    </div>

    <!-- Descuento -->
    <div class="mb-5">
      <label
        for="descuento"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Descuento del curso</label
      >
      <input
        type="number"
        id="descuento"
        formControlName="descuento"
        min="0"
        max="100"
        step="0.01"
        placeholder="S/. 10.00"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('descuento')?.invalid &&
            formCurso.get('descuento')?.touched
        }"
      />
    </div>

    <!-- Estado -->
    <div class="mb-5">
      <label for="estado" class="block mb-2 text-sm font-medium text-gray-900"
        >Estado del curso</label
      >
      <select
        id="estado"
        formControlName="estado"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('estado')?.invalid && formCurso.get('estado')?.touched
        }"
      >
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
        <option value="Proximamente">Próximamente</option>
      </select>
      <div
        *ngIf="
          formCurso.get('estado')?.invalid && formCurso.get('estado')?.touched
        "
        class="text-red-500 text-sm"
      >
        El estado es requerido.
      </div>
    </div>

    <!-- Categoría -->
    <div class="mb-5">
      <label
        for="categoriaId"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Categoría</label
      >
      <select
        id="categoriaId"
        formControlName="categoriaId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('categoriaId')?.invalid &&
            formCurso.get('categoriaId')?.touched
        }"
      >
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </option>
      </select>
      <div
        *ngIf="
          formCurso.get('categoriaId')?.invalid &&
          formCurso.get('categoriaId')?.touched
        "
        class="text-red-500 text-sm"
      >
        La categoría es requerida.
      </div>
    </div>

    <!-- Instructor -->
    <div class="mb-5">
      <label
        for="instructorId"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Instructor</label
      >
      <select
        id="instructorId"
        formControlName="instructorId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500':
            formCurso.get('instructorId')?.invalid &&
            formCurso.get('instructorId')?.touched
        }"
      >
        <option value="">Seleccione un instructor</option>
        <option *ngFor="let instructor of instructores" [value]="instructor.id">
          {{ instructor.nombre }} {{ instructor.apellido }}
        </option>
      </select>
      <div
        *ngIf="
          formCurso.get('instructorId')?.invalid &&
          formCurso.get('instructorId')?.touched
        "
        class="text-red-500 text-sm"
      >
        El instructor es requerido.
      </div>
    </div>

    <!-- Lista de Módulos -->
    <div class="mb-5 col-span-3">
      <label class="block mb-2 text-sm font-medium text-gray-900"
        >Módulos del curso</label
      >
      <div class="border p-4 rounded-lg bg-gray-50">
        <div *ngIf="modulos.length === 0" class="text-gray-500">
          No hay módulos asignados.
        </div>

        <div formArrayName="modulos">
          <div
            *ngFor="let modulo of modulos.controls; let i = index"
            [formGroupName]="i"
            class="mb-4 border-b pb-4"
          >
            <div class="mb-2">
              <label
                for="modulo-nombre-{{ i }}"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Nombre del módulo</label
              >
              <input
                type="text"
                id="modulo-nombre-{{ i }}"
                formControlName="nombre"
                class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                [ngClass]="{
                  'border-red-500':
                    modulo.get('nombre')?.invalid &&
                    modulo.get('nombre')?.touched
                }"
              />
              <div
                *ngIf="
                  modulo.get('nombre')?.invalid && modulo.get('nombre')?.touched
                "
                class="text-red-500 text-sm"
              >
                El nombre del módulo es requerido.
              </div>
            </div>
            <div formArrayName="temas" *ngIf="getTemas(i)?.controls">
              <div
                *ngFor="let tema of getTemas(i).controls; let j = index"
                [formGroupName]="j"
                class="mb-2 ml-4 flex items-center gap-2"
              >
                <div class="flex-1">
                  <label
                    for="tema-nombre-{{ i }}-{{ j }}"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Nombre del tema</label
                  >
                  <input
                    type="text"
                    id="tema-nombre-{{ i }}-{{ j }}"
                    formControlName="nombre"
                    class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    [ngClass]="{
                      'border-red-500':
                        tema.get('nombre')?.invalid &&
                        tema.get('nombre')?.touched
                    }"
                  />
                  <div
                    *ngIf="
                      tema.get('nombre')?.invalid && tema.get('nombre')?.touched
                    "
                    class="text-red-500 text-sm"
                  >
                    El nombre del tema es requerido.
                  </div>
                </div>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  (click)="removeTema(i, j)"
                  class="p-button-text"
                />
              </div>
              <!-- Button to add a new topic -->
              <p-button
                label="Agregar Tema"
                icon="pi pi-plus"
                (click)="addTema(i)"
                class="p-button-outlined mt-2"
              />
            </div>
            <div class="flex justify-end">
              <p-button
                icon="pi pi-trash"
                severity="danger"
                (click)="removeModulo(i)"
                class="p-button-text"
              />
            </div>
          </div>
        </div>
        <p-button
          label="Agregar Módulo"
          icon="pi pi-plus"
          (click)="addModulo()"
          class="p-button-outlined"
        />
      </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-end gap-2 col-span-3">
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="cerrarModal()"
        class="p-button-outlined"
      />

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:cursor-pointer"
        [disabled]="formCurso.invalid"
      >
        Guardar
      </button>
    </div>
  </form>
</p-dialog>

<p-toast></p-toast>
