<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
  <!-- Course Card 1 -->
   @for (curso of cursos; track curso.titulo) {
     <div data-aos="fade-up"
       class="bg-white rounded-lg shadow-md overflow-hidden border border-gray-200 scale-up-bottom"
     >
       <!-- Course Image -->
       <div class="h-48 bg-yellow-100 relative">
         <img
           [src]="curso.imagen"
           [alt]="curso.titulo"
           class="w-full h-full object-cover"
         />
         <!-- Student Count Badge -->
         <div class="absolute bottom-3 left-3 flex items-center">
           <div class="flex -space-x-2">
             <div
               class="w-6 h-6 rounded-full bg-red-500 border-2 border-white"
             ></div>
             <div
               class="w-6 h-6 rounded-full bg-blue-500 border-2 border-white"
             ></div>
             <div
               class="w-6 h-6 rounded-full bg-green-500 border-2 border-white"
             ></div>
           </div>
           <span
             class="text-xs text-white ml-1 bg-black bg-opacity-50 px-2 py-1 rounded-full"
             >{{curso.estudiantes}}</span
           >
         </div>
       </div>
   
       <!-- Course Content -->
       <div class="p-4">
         <div class="text-xs text-gray-500 mb-2">{{curso.duracion}}</div>
         <h3 class="text-lg font-semibold text-orange-500 mb-2">
           {{curso.titulo}}
         </h3>
         <p class="text-xs text-gray-500 mb-4">
          @for (tema of curso.contenido; track tema) {
            <li>{{ tema }}</li>
          }
         </p>
   
         <!-- Price -->
         <div class="flex items-center justify-between mb-4">
           <div class="flex items-center">
             <span class="text-orange-500 font-bold">S/. {{curso.precio}}</span>
             <span class="text-gray-400 line-through ml-2 text-sm">S/. {{curso.precioOriginal}}</span>
           </div>
           <a href="#" class="boton-card-cursoP">Inscribirse Ahora</a>
         </div>
       </div>
     </div>
   }
  
</div>
