<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  (onHide)="cerrarModal()"
  header="{{ moduloSeleccionado ? 'Editar Módulo' : 'Crear Módulo' }}"
>
  <form [formGroup]="formModulo" (ngSubmit)="guardarModulo()" class="grid gap-2 w-[825px]">
    <div class="mb-5">
      <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre del módulo</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue скачать
      focus-blue-500 block w-full p-2.5"
        [ngClass]="{'border-red-500': formModulo.get('nombre')?.invalid && formModulo.get('nombre')?.touched}"
      />
      <div *ngIf="formModulo.get('nombre')?.invalid && formModulo.get('nombre')?.touched" class="text-red-500 text-sm">
        El nombre del módulo es requerido.
      </div>
    </div>

    <div class="mb-5">
      <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900">Descripción</label>
      <textarea
        id="descripcion"
        rows="4"
        formControlName="descripcion"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
      ></textarea>
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancelar" severity="secondary" (click)="cerrarModal()" />
      <p-button label="Guardar" type="submit" [disabled]="formModulo.invalid" />
    </div>
  </form>
</p-dialog>

<p-toast />