<!-- Courses Table -->
  <div class="bg-white rounded-xl shadow-sm mb-6 overflow-hidden">
      <!-- <div class="p-6 border-b">
          <h3 class="font-semibold">Listado de Cursos</h3>
          <div class="flex items-end">
            <button>buscar</button>
          </div>
      </div> -->
      <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 p-6 border-b">

      <div>
          <h1 class="text-2xl font-bold text-gray-800">Listado de cursos</h1>
          <p class="text-gray-500">Administra todos los cursos de la plataforma</p>
      </div>
    <div class="grid grid-cols-3 gap-2">

        <div class="relative">
          
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <i class="fas fa-filter text-gray-400"></i>
          </div>
          <select class="pl-10 pr-6 py-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500 transition-all"
                  [(ngModel)]="filtroCategoria"
                  (ngModelChange)="filtrarCursos()"
          >

                  <option [ngValue]="'null'" selected >Todos los cursos</option>
                  @for (categoria of categorias; track  $index ) {
         
                      <option [ngValue]="categoria.id"> {{categoria.nombre}} </option>
                  }

          </select>
          

        </div>

        <div class="relative">
          
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <i class="fas fa-search text-gray-400"></i>
          </div>
          <input
            type="text"
            [(ngModel)]="filtroNombre"
            (ngModelChange)="filtrarCursos()"
            placeholder="Buscar por nombre de curso"
            class="pl-10 pr-6 py-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500 transition-all"
          />
        </div>

         

        <div class="relative">
          
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <i class="fas fa-search text-gray-400"></i>
          </div>
          <input
            type="text"
            [(ngModel)]="filtroInstructor"
           (ngModelChange)="filtrarCursos()"
           placeholder="Buscar por instructor"
            class="pl-10 pr-6 py-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500 transition-all"
          />

        </div>


    </div>
    
  </div>
      <div class="overflow-x-auto">
          <table class="w-full">
              <thead class="bg-gray-50 text-left">
                  <tr>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Curso</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Categoría</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Instructor</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Precio</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Estudiantes</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Valoración</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                      <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
                  </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                  @for (curso of cursosPaginados; track curso.id) {
                    <tr class="hover:bg-orange-50">

                      <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                              <img [src]="curso.imagen" [alt]="curso.nombre" class="w-10 h-10 rounded-lg object-cover mr-3">
                              <div>
                                  <p class="font-medium">{{curso.nombre}}</p>
                                  @if ( curso.fechaInicio) {
                                      <p class="text-xs text-gray-500">Inicio de Curso: {{ curso.fechaInicio | date:'shortDate' }}</p>
                                      <p class="text-xs text-gray-500">Fin de Curso: {{ curso.fechaFin | date:'shortDate' }}</p>
                                  }
                              </div>
                          </div>
                      </td>

                      <td class="px-6 py-4 whitespace-nowrap">
                          <span class="px-2 py-1 text-xs rounded-full bg-green-100 text-green-600">{{curso.categoria.nombre}}</span>
                      </td>

                      <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                              <img [src]="curso.instructor?.avatar" [alt]="curso.instructor?.avatar" class="w-10 h-10 rounded-lg object-cover mr-3"> 
                              <!-- <span>{{curso.instructor?.nombre}}</span>
                              <span>{{curso.instructor?.apellido}}</span> -->
                              <div>
                                  <p class="text-xs text-gray-500">{{ curso.instructor?.nombre }}</p>
                                  <p class="text-xs text-gray-500">{{ curso.instructor?.apellido }}</p>
                              </div>
                          </div>
                      </td>

                      <td class="px-6 py-4 whitespace-nowrap font-medium">S/.{{curso.precio}}</td>
                      <td class="px-6 py-4 whitespace-nowrap">112</td>
                      <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                              <div class="flex text-orange-400 text-sm">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="far fa-star"></i>
                              </div>
                              <span class="ml-1 text-sm">4.2</span>
                          </div>
                      </td>
                      
                      <td class="px-6 py-4 whitespace-nowrap">
                          <span class="px-2 py-1 text-xs rounded-full bg-yellow-100 text-yellow-600">{{ curso.estado }}</span>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm">
                          <div class="flex space-x-2">
                                <button class="p-1 text-gray-500 hover:text-orange-600 hover:cursor-pointer "><i class="fas fa-edit"></i></button>
                                <button class="p-1 text-gray-500 hover:text-orange-600 hover:cursor-pointer "><i class="fas fa-eye"></i></button>
                                <button class="p-1 text-gray-500 hover:text-orange-600 hover:cursor-pointer " (click)="eliminarCurso(curso)"><i class="fas fa-trash"></i></button>
                          </div>
                      </td>
                  </tr>
                  }
              </tbody>
          </table>
        </div>
      <!-- </div> -->
      <!-- paginacion de  -->
       <p-paginator [rows]="rows"
                     [first]="first"
                     [totalRecords]="cursosFiltrados.length"
                     (onPageChange)="onPageChange($event)"/>
      <!-- <div class="p-4 border-t flex justify-between items-center">
          <p class="text-sm text-gray-500">Mostrando 5 de 124 cursos</p>
          <div class="flex space-x-1">
              <button class="w-8 h-8 flex items-center justify-center rounded-lg border hover:bg-orange-50">
                  <i class="fas fa-chevron-left text-sm text-gray-500"></i>
              </button>
              <button class="w-8 h-8 flex items-center justify-center rounded-lg bg-orange-500 text-white">1</button>
              <button class="w-8 h-8 flex items-center justify-center rounded-lg border hover:bg-orange-50">2</button>
              <button class="w-8 h-8 flex items-center justify-center rounded-lg border hover:bg-orange-50">3</button>
              <button class="w-8 h-8 flex items-center justify-center rounded-lg border hover:bg-orange-50">...</button>
              <button class="w-8 h-8 flex items-center justify-center rounded-lg border hover:bg-orange-50">25</button>
              <button class="w-8 h-8 flex items-center justify-center rounded-lg border hover:bg-orange-50">
                  <i class="fas fa-chevron-right text-sm text-gray-500"></i>
              </button>
          </div>
      </div> -->
  </div>
  


  <!-- Modal de borrar -->
<p-toast />
<p-confirmdialog>
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i [ngClass]="message.icon" class="!text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmdialog>