@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@plugin "@iconify/tailwind4";
@import "primeicons/primeicons.css";


@font-face {
  font-family: 'Logik-ExtendedBold';
  src: url("./assets/font/Logik-ExtendedBold.woff2") format("woff2"); 
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: 'Logik-ExtendedSemiBoldOblique';
  src: url("./assets/font/Logik-ExtendedSemiBoldOblique.woff2") format("woff2"); 
  font-style: oblique;
  font-weight: 100 700;
  font-display: swap;
}
 
/* styles.css o categorias.component.css */

.bg-rose { @apply bg-rose-50 text-rose-600; }
.bg-amber { @apply bg-amber-50 text-amber-600; }
.bg-sky { @apply bg-sky-50 text-sky-600; }
.bg-emerald { @apply bg-emerald-50 text-emerald-600; }
.bg-violet { @apply bg-violet-50 text-violet-600; }
.bg-indigo { @apply bg-indigo-50 text-indigo-600; }
.bg-yellow { @apply bg-yellow-50 text-yellow-600; }
.bg-fuchsia { @apply bg-fuchsia-50 text-fuchsia-600; }
.bg-blue { @apply bg-blue-50 text-blue-600; }

/* Iconos si usas Iconify */
.icon-tecnologia { @apply icon-[gg--code-slash]; }
.icon-contabilidad { @apply icon-[ion--calculator]; }
.icon-docencia { @apply icon-[mdi--teach-outline]; }
.icon-empresa { @apply icon-[mingcute--building-5-line]; }


@theme {
  --font-Roboto: "Roboto", "sans-serif";
  --font-Logik: "Logik-ExtendedBold", "Logik-ExtendedSemiBoldOblique", "sans-serif";
}


@layer components {
  .boton-home{
    @apply inline-block hover:cursor-pointer bg-orange-500 text-white px-6 py-3 rounded-md hover:bg-orange-600 transition
  }
  .boton-card-cursoP{
    @apply bg-orange-500 text-white text-sm px-4 py-2 rounded-md hover:bg-orange-600  transition
  }
}
