<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  (onHide)="onDialogHide()"
>
  <form
    class="grid md:grid-cols-2 gap-2 w-[520px]"
    [formGroup]="formCategoria"
    (ngSubmit)="guardarCategoria()"
  >
    <div class="mb-5 col-span-2">
      <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900"
        >Nombre de la categoria</label
      >
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        [ngClass]="{
          'border-red-500 focus:ring-red-500 focus:border-red-500':
            formCategoria.get('nombre')?.invalid &&
            formCategoria.get('nombre')?.touched,
          'border-gray-300': !(
            formCategoria.get('nombre')?.invalid &&
            formCategoria.get('nombre')?.touched
          )
        }"
      />
      <p
        *ngIf="
          formCategoria.get('nombre')?.invalid &&
          formCategoria.get('nombre')?.touched
        "
        class="text-red-600 text-xs mt-1"
      >
        El nombre es obligatorio.
      </p>
    </div>

    <div class="mb-5 col-span-2">
      <label
        for="descripcion"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Descripcion de general</label
      >
      <textarea
        id="descripcion"
        rows="4"
        formControlName="descripcion"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        
        [ngClass]="{
          'border-red-500 focus:ring-red-500 focus:border-red-500':
            formCategoria.get('descripcion')?.invalid &&
            formCategoria.get('descripcion')?.touched,
          'border-gray-300': !(
            formCategoria.get('descripcion')?.invalid &&
            formCategoria.get('descripcion')?.touched
          )
        }"
      ></textarea>
      <p
        *ngIf="
          formCategoria.get('descripcion')?.invalid &&
          formCategoria.get('descripcion')?.touched
        "
        class="text-red-600 text-xs mt-1"
      >
        La descripción es obligatoria.
      </p>
    </div>

    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900"
        >Color de categoría
      </label>

      <div class="relative" id="colorPicker">
        <div
          (click)="togglePalette()"
          class="flex items-center gap-2 p-2.5 bg-gray-50 border border-gray-300 rounded-lg cursor-pointer"
        >
          <div
            class="size-6 rounded-md border border-gray-200"
            [ngStyle]="{ 'background-color': selectedColor.hex }"
          ></div>

          <span class="text-sm text-gray-900 flex-1">{{
            selectedColor.hex
          }}</span>

          <input
            type="color"
            formControlName="color"
            [value]="selectedColor.hex"
            class="w-0 h-0 opacity-0 absolute"
            id="colorInput"
            (change)="onCustomColorChange($event)"
          />

          <label
            for="colorInput"
            class="text-xs text-blue-600 cursor-pointer hover:text-blue-800"
          >
            Custom
          </label>
        </div>

        <!-- Paleta de colores -->
        <!-- showPalette -->
        <div
          *ngIf="showPalette"
          class="absolute z-10 mt-1 bg-white border border-gray-200 rounded-lg shadow-lg p-3 w-full max-w- [280px] grid grid-cols-4 gap-2 transition-all animate-fade-in"
        >
          <div
            *ngFor="let color of colores"
            (click)="selectColor(color)"
            [ngStyle]="{ 'background-color': color.hex }"
            class="w-8 h-8 rounded-md border cursor-pointer hover:scale-105 transition"
            [class.ring-2]="color.hex === selectedColor.hex"
            [class.ring-blue-500]="color.hex === selectedColor.hex"
          ></div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-900">
        Icono de categoría
      </label>
      <div class="relative" id="iconSelector">
        <!-- Vista seleccionada -->
        <div
          (click)="toggleIconPalette()"
          class="flex items-center gap-2 p-2.5 bg-gray-50 border border-gray-300 rounded-lg cursor-pointer"
        >
          <i [ngClass]="selectedIcon.class" class="w-5 h-5 text-gray-700"></i>
          <span class="text-sm text-gray-900 flex-1">{{
            selectedIcon.name
          }}</span>
        </div>

        <!-- Paleta de iconos -->
        <div
          *ngIf="showPalette"
          class="absolute z-10 mt-1 bg-white border border-gray-200 rounded-lg shadow-lg p-3 w-full max-w-[280px] transition-all animate-fade-in"
        >
          <!-- Input búsqueda -->
          <div
            class="mb-2 flex items-center border border-gray-300 rounded-md px-2"
          >
            <i class="fa-solid fa-search w-4 h-4 text-gray-400"></i>
            <input
              type="text"
              placeholder="Buscar iconos..."
              (input)="filterIcons($event)"
              class="w-full p-2 text-sm focus:outline-none"
            />
          </div>

          <!-- Grid de iconos -->
          <div class="grid grid-cols-5 gap-2 max-h-[200px] overflow-y-auto">
            <div
              *ngFor="let icon of filteredIcons"
              (click)="selectIcon(icon)"
              class="p-2 rounded-lg border hover:bg-gray-100 cursor-pointer flex items-center justify-center"
              [class.bg-gray-100]="icon.class === selectedIcon.class"
            >
              <i [ngClass]="icon.class" class="text-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end mb-5 col-span-2">
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:cursor-pointer"
        [disabled]="formCategoria.invalid"
      >
        Guardar
      </button>
    </div>
  </form>
</p-dialog>
